
@font-face {font-family: "iconfont";
    src: url('../fonts/iconfont.eot?t=1471932306'); /* IE9*/
    src: url('../fonts/iconfont.eot?t=1471932306#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff?t=1471932306') format('woff'), /* chrome, firefox */
    url('../fonts/iconfont.ttf?t=1471932306') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg?t=1471932306#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-like:before { content: "\e60d"; }
.icon-fenxiang:before { content: "\e607"; }
.icon-flag:before { content: "\e601"; }
.icon-yuyue:before { content: "\e60e"; }
.icon-kecheng:before { content: "\e603"; }
.icon-jiaoyu:before { content: "\e60a"; }
.icon-base:before { content: "\e615"; }
.icon-renzheng:before { content: "\e60c"; }
.icon-qian:before { content: "\e60f"; }
.icon-user:before { content: "\e611"; }
.icon-exercise:before { content: "\e612"; }
.icon-attention:before { content: "\e608"; }
.icon-star:before { content: "\e613"; }
.icon-date:before { content: "\e614"; }
.icon-coach:before { content: "\e600"; }